.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  width: 100%;
  flex: 1;
  margin-top: var(--height-header);
  margin-bottom: 50px;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
