.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  margin-top: var(--height-header);
  margin-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 2rem 0;
  gap: 3rem;
  margin-top: 50px;
}
