.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
}

@media (max-width: 1440px) {
  .events {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .events {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .events {
    grid-template-columns: repeat(1, 1fr);
  }
}
