.events {
  margin-top: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  cursor: pointer;
}

@media (max-width: 768px) {
  .events {
    margin-top: 30px;
    padding: 1rem;
  }
}
