.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content {
  display: flex;
  height: auto;
  justify-content: center;
  width: fit-content;
  border-radius: var(--border-radius-block);
  width: 100%;
}
.container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 100%;
  color: var(--color-primary-dark);
  background-color: var(--color-background-ui);
  border-radius: var(--border-radius-block);
}
.logo {
  font-size: 32px;
}
.container > h2 {
  color: var(--color-primary-dark);
  font-size: 32px;
  margin-top: 0.75rem;
}
.container > p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    width: 400px;
    padding: 1.5rem;
  }
}
@media (max-width: 425px) {
  .container > p {
    font-size: 12px;
  }
  .container > h2 {
    margin-top: 0.25rem;
  }
  .container {
    width: 100%;
  }
}
