.detailed {
  display: flex;
  align-items: start;
  gap: 2rem;
  width: 100%;
  border-radius: var(--border-radius-block);
  padding: 1.5rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}
.info {
  display: flex;
  flex-direction: column;
}
.description {
  margin-top: 2rem;
}
.img {
  width: 40%;
  height: 450px;
  border-radius: var(--border-radius-block);
}
.img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-block);
}
