.skeleton {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: var(--border-radius-block);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.img {
  width: 40%;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .skeleton {
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 90%;
  }
}
