.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow-x: auto;
  padding: 1rem 0;
  width: 100%;
}
.slideSkeleton {
  flex: 0 0 auto;
  width: 250px;
}
