.results {
  position: absolute;
  top: 60px;
  background-color: white;
  width: 100%;
  border-radius: var(--border-radius);
}
.results li {
  cursor: pointer;
  padding: 0.75rem 1rem;
  transition: 0.5s background-color ease-in-out;
}
.results li:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.results li:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.results li:hover {
  background-color: var(--color-primary-light-hover);
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--color-primary-dark);
  padding: 1rem;
}
.icon {
  font-size: 2rem;
}
