@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight);
  font-size: 16px;
  background-color: var(--color-background-ui);
  color: var(--color-text-dark);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-btn-text);
}
.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
}
