:root {
  /* colors */
  --color-background-nav: var(--color-background-ui);
  --color-background-ui: white;

  --color-primary-dark: rgb(71, 42, 105);
  --color-primary-light: rgb(146, 86, 155);
  --color-primary-light-hover: rgb(200, 160, 210);
  --color-border: #f5f5f5;
  --color-border-dark: #c0c0c0;

  --color-success: #9acb9a;
  --color-error: #e6a6a6;

  /* buttons */
  --border-radius: 6px;
  --color-btn-dark: var(--color-primary-light);
  --color-btn-text: var(--color-text-light);
  --color-btn-text-dark: var(--color-text-dark);
  /* fonts */
  --font-family-base: 'Inter', sans-serif;
  --font-weight: 400;

  /* text */
  --color-text-light: white;
  --color-text-dark: black;
  --color-text-accent: var(--color-primary-light);
  --color-text-accent-light: #7e7e7e;
  --color-text-error: #e53935;
  --color-text-success: #4caf50;

  /* margins */

  --height-header: 80px;

  /*elements*/
  --border-radius-block: 10px;
  --border-radius-img: var(--border-radius);
}
