:root {
  /* colors */
  --color-background: #f0f0f0;
  --color-background-nav: var(--color-background-ui);
  --color-background-ui: white;
  --color-primary-dark: rgb(71, 42, 105);

  --color-primary-light: rgb(146, 86, 155);
  --color-primary-light-hover: rgb(71, 42, 105);
  --color-border: #ddd;

  --color-success: #3aa97b;
  /* --color-success-light: #e0f4ec; */
  --color-error: #d3455b;
  /* --color-error-light: #fbecee; */

  /* buttons */
  --border-radius: 5px;
  --color-btn-dark: var(--color-primary-light);
  --color-btn-text: var(--color-text-light);
  --color-btn-text-dark: var(--color-text-dark);
  /* fonts */
  --font-family-base: 'Inter', sans-serif;
  --font-weight: 400;

  /* text */
  --color-text-light: white;
  --color-text-dark: black;
  --color-text-accent: var(--color-primary-light);
  --color-text-accent-light: #7e7e7e;

  /* margins */

  --height-header: 80px;

  /*elements*/
  --border-radius-block: 10px;
  --border-radius-img: var(--border-radius);
}
