.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 50px;
  gap: 0.5rem;
}
.title {
  font-size: 28px;
  color: var(--color-primary-light);
}

.organizer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--color-text-accent-light);
  font-size: 16px;
}
