.menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.icon,
.search {
  font-size: 24px;
  color: var(--color-primary-light);
}
.search {
  pointer-events: none;
}
