.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 580px;
  color: var(--color-primary-dark);
  background-color: var(--color-background-ui);
  border-radius: var(--border-radius-block);
}
.container > h2 {
  color: var(--color-primary-light);
  font-size: 32px;
}
.container > p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
}
