.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;
  color: var(--color-primary-dark);
}
.accent {
  color: var(--color-text-accent);
}
