.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  width: fit-content;
  gap: 10px;
  color: var(--color-primary-dark);
}
.logo > span:last-child {
  color: var(--color-text-accent);
}
@media (max-width: 425px) {
  .logo {
    font-size: 24px;
  }
}
