.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  background: #fff;
  border-radius: 16px;
  margin: 0 2rem;
}
.nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-border-dark);
  padding: 2rem;
}
.nav p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  align-self: flex-end;
  cursor: pointer;
}
.picker {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
