.header {
  width: 100%;
  min-height: 150px;
  height: auto;
  padding: 2rem 0;
}
.title {
  color: var(--color-text-accent);
  font-size: 2rem;
  width: 100%;
}
.description {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .header {
    min-height: 100px;
  }
}
