.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--color-border-dark);
  border-radius: 50px;
  cursor: pointer;
  color: var(--color-text);
}
.active {
  background-color: var(--color-primary-light);
  color: white;
  font-weight: 600;
}
.icon {
  height: 100%;
  font-size: 16px;
}
