.delete {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  height: fit-content;
  min-height: 8rem;
  width: 100%;
  border: 2px solid var(--color-error-dark);
  border-radius: var(--border-radius);
  gap: 1rem;
  padding: 1rem;
}
.delete > h3 {
  font-weight: 600;
}
.btn {
  background-color: var(--color-error-dark);
  padding: 0.75rem;
  align-self: flex-end;
}
