.header {
  position: fixed;
  height: var(--height-header);
  background-color: var(--color-background-nav);
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.signup,
.login {
  width: 130px;
  height: 50px;
}
.login {
  background-color: transparent;
  color: var(--color-btn-text-dark);
}
.buttons {
  display: flex;
  align-items: space-between;
  align-items: center;
  gap: 0.25rem;
  width: auto;
}
