.header {
  position: fixed;
  height: var(--height-header);
  background-color: var(--color-background);
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 5px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  width: auto;
  gap: 0.5rem;
}
.logo > span:last-child {
  color: var(--color-text-accent);
}
.login {
  background-color: transparent;
  color: var(--color-btn-text-dark);
}
.buttons {
  display: flex;
  align-items: space-between;
  align-items: center;
  gap: 0.25rem;
  width: auto;
}

@media (max-width: 1400px) {
  .content {
    max-width: 1320px;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 1140px;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 95%;
  }
  .logo {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .logo {
    font-size: 24px;
  }
}
