.header {
  position: fixed;
  height: var(--height-header);
  background-color: var(--color-background-nav);
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
}
.logo {
  font-size: 32px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.signup,
.login {
  width: 130px;
  height: 50px;
}
.login {
  background-color: transparent;
  color: var(--color-btn-dark);
  border: 1px solid var(--color-btn-dark);
}
.buttons {
  display: flex;
  align-items: space-between;
  align-items: center;
  gap: 0.25rem;
  width: auto;
}

@media (max-width: 1024px) {
  .signup,
  .login {
    width: 110px;
  }
  .logo {
    font-size: 24px;
  }
}
