.menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.dropdown {
  position: relative;
  width: auto;
  display: inline-block;
}
.list {
  width: 150px;
  top: 30px;
  background-color: var(--color-primary-light);
  padding: 10px;
  border-radius: var(--border-radius-btn);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.item {
  color: var(--color-text-light);
}
.icon {
  font-size: 24px;
  color: var(--color-primary-light);
  pointer-events: none;
}
