.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1.5px solid var(--color-border-dark);
  padding: 2rem 0;
  width: 100%;
  height: auto;
  min-height: 100px;
}
.date-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skeleton-btn {
  width: 80px;
  height: 32px;
  border-radius: 50px;
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite ease-in-out;
  margin-right: 8px;
}
