.favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  gap: 1rem;
}
@media (max-width: 1440px) {
  .favorites {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .favorites {
    grid-template-columns: repeat(1, 1fr);
  }
}
